$FONT:'Source Sans Pro', sans-serif;

/*==========================
    GENERAL STYLING BELOW
===========================*/

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
    display: block
}

html {
    font-family: $FONT;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

a:focus {
    outline: thin dotted
}

a:active,a:hover {
    outline: 0
}

h1 {
    font-size: 2em
}

img {
    border: 0
}

button,input,select,textarea {
    font-family: $FONT;
    font-size: 100%;
    margin: 0
}

button,input {
    line-height: normal
}

button,select {
    text-transform: none;
}

button,html input[type=button],input[type=reset],input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],html input[disabled] {
    cursor: default
}

input[type=checkbox],input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

body,html {
    text-align: left;
    font-size: 1em;
    z-index: 1
}

body,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,html,img,input,li,ol,p,pre,textarea,ul {
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
    font-weight: 400;
    font-family: $FONT;
    img {
        border: none;
    }
}

:active,:focus {
    outline: 0;
    -moz-outline-style: none
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400
}

div.clear {
    clear: both
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden
}

/*==========================
      NAVBAR STYLING
===========================*/

.navbar-default {
    position: fixed;
    width: 100%;
    z-index: 1;
    background: none;
    border: none;
    border-radius: 0;
    font-family: $FONT;
    background-color: #fff;
    .collapsed {
        text-decoration: none;
        padding: 0;
        border: none;
        box-shadow: none;
        .navtoggleimg {
            height: auto;
            width: 40px;
            text-decoration: none;
        }
    }
    .navtoggleimg {
        height: auto;
        width: 30px;
        text-decoration: none;
        padding: 0;
        border: none;
        box-shadow: none;
    }
    .navbar-brand {
        padding: 0px 15px;
        margin-top: 2vh;
        font-size: 20px;
        color: #265b7d;
        height: 100%;
    }
    .navbar-collapse {
        float: right;
        .navbar-li {
            a {
                padding: 0px 15px;
                margin-top: 15px;
                font-size: 16px;
                color: #265b7d;
            }
        }
    }
}

/*==========================
  NAVBAR STYLING FOR MOBILE
===========================*/

@media (max-width: 767px) {

    .navbar-default {
        width: 100%;
        background: none;
        .navbar-brand {
            margin-top: 1.5vh;
            font-size: 18px;
        }
        .navbar-header {
            background-color: #fff;
        }
        .navbar-collapse {
            background-color: #282732;
            width: 50%;
            float: right;
            .navbar-li {
                a {
                    margin-right: 15px;
                    margin-left: 15px;
                    color: #84C8DB;
                    padding-bottom: 10px;
                    border-bottom: 1px #6F797C solid;
                }
            }
        }
    }
}

//styling below is for bounce feature
@-webkit-keyframes bounce {
    from, to  {
      bottom: 0;
      -webkit-animation-timing-function: ease-out;
    }
    50% {
      bottom: 20px;
      -webkit-animation-timing-function: ease-in;
    }
  }
  @keyframes bounce {
    from, to  {
      botttom: 0;
      animation-timing-function: ease-out;
    }
    50% {
      bottom: 20px;
      animation-timing-function: ease-in;
    }
}

/*==========================
  HOME PAGE STYLING
===========================*/

.home-page {
    .kickstarter {
        height: 125vh;
        background-color: #27285a;
        background: url(https://cloud.githubusercontent.com/assets/8774970/5022581/23e44022-6ae0-11e4-9051-9fe6f1570c0f.jpg) no-repeat center center;
        background-size: cover;
        .overlay {
            background-color: rgba(0,0,0,0.65);
            height: 125vh;
        }
        .share_box{
            position:fixed;
            width:50px;
            top:50px;
            padding:15px;
            a:hover {
                text-decoration: none;
            }
            z-index: 1;
            .button {
                border-radius: 10px;
                text-align: center;
                margin: 10px;
                width: 160px;
                font-family: "Arial Black", Gadget, sans-serif;
            }
            .ksbutton {
                color: #343433;
                background-color: #ffffff;
                border: 2px #70a83b solid;
                span {
                    color: #70a83b;
                }
            }
        }
        .container {
            padding-top: 40vh;
            font-family: $FONT;
            text-align: center;
            text-decoration: none;
            h1 {
                font-size: 60px;
                color: #ffffff;
                padding-bottom: 5px;
            }
            h3 {
                font-size: 1.7vmax;
                font-weight: bold;
                color: #ffffff;
                letter-spacing: 1px;
            }
            a {
                margin-top: 20px; 
                margin-bottom: 20px;
                padding-top: 20px;
                font-weight: 300;
                color: #ffffff;
                button {
                       border: none;
                       background: #81D0D7;
                       padding: 5px 10px 10px 20px;
                       color: #ffffff;
                       font-size: 24px;
                       font-family: $FONT;
                       text-decoration: none;
                       vertical-align: middle;
                       span {
                            padding-right: 10px;
                        }
                }
                button:hover {
                   background: #282732;
                   color: #fff;
                }
                button:active {
                   background: #282732;
                   color: #fff;
                }
            }
            p {
                font-size: 1.3vmax;
                margin-top: 1.5vh; 
                padding-bottom: 15px;
                font-weight: 300;
                margin-right: 7%;
                margin-left: 7%;
                color: #ffffff;
                letter-spacing: 2.5px;
                line-height: 1.2;
            }
            p#emphasized {
                font-size: 1.4vmax;
                margin-top: 2vh; 
                font-weight: bold;
                margin-right: 7%;
                margin-left: 7%;
                color: #ffffff;
                letter-spacing: 2.5px;
                line-height: 1.2;
            }
            div {
                display: inline-block;
                margin-right: auto;
                margin-left: auto;
                div {
                    margin-right: 1vw;
                    p {
                        font-size: 1.5vmax;
                        display: inline-block;
                        margin: 0 5px 0 0;
                        padding: 0;
                        font-weight: bold;
                        padding-bottom: 5%;
                    }
                    p#phone {
                        font-size: 1.25vmax;
                        display: inline-block;
                        margin: 0 5px 0 0;
                        padding-top: 1%;
                        font-weight: bold;
                        padding-bottom: 0;
                    }
                    a {
                        display: inline-block;
                        margin: 0;
                        padding-top: 3%;
                        font-weight: bold;
                        span {
                            margin-top: 8%;
                        }
                        #twitterlogo {
                            height: 30px;
                            margin-right: 10px;
                        }
                        #facebooklogo {
                            height: 30px;
                            margin-right: 15px;
                        }
                    }
                }
            }
            .outer {
                position: relative;
                width: 100%;
                top: 100px;
                left: -40px;
                .bouncing {
                    position: absolute;
                    -webkit-animation-name: bounce;
                    -webkit-animation-iteration-count: infinite;
                    -webkit-animation-duration: 2s;
                    animation-name: bounce;
                    animation-iteration-count: infinite;
                    animation-duration: 2s;
                    .glyphicon {
                        color: #ffffff;
                        font-size: 60px;
                    }
                }
            }
        }

    }
    .about-list {
        font-family: $FONT;
        .aboutlist_container {
            padding: 50px 0 100px;
            height: 100%;
            *zoom: 1;
            display: block;
            margin: 0 auto;
            p {
                color: #888;
                font-size: 1em;
                font-weight: 400;
                line-height: 2.3em;
                text-align: justify;
                a {
                    color: #81D0D7;
                }
            }
            h4 {
                color: #484652;
                font-weight: bold;
                font-size: 1.5em;
            }
            .container {
                h2 {
                    text-align: center;
                    padding-bottom: 1%;
                    font-family: $FONT;
                    font-weight: bold;
                }
                p#subheading {
                    text-align: center;
                    padding-bottom: 3%;
                    font-family: $FONT
                }
                margin-top: 5%;
                *zoom: 1;
                .triptych {
                    padding: 0vw 2.5vw 2vw;
                    p {
                        padding-top: 5%;
                    }
                }
            }
            .h4-givebBackToTheCommunity {
                font-weight: bold;
                padding-bottom: 5px;
            }
        }
    }
    .more-info {
        background-color: #75ad74;
        height: 100vh;
        .container {
            margin-top: 10%;
        }
        h2 {
            color: rgb(51, 51, 51);
            font-weight: bold;
            text-align: center;
            padding-bottom: 1%;
            font-family: $FONT;
        }
        p#subheading {
            color: rgb(51, 51, 51);
            text-align: center;
            padding-bottom: 3%;
            font-family: $FONT;
        }
        .h4-moreinfo {
            color: rgb(51, 51, 51);
            font-weight: bold;
            padding-bottom: 5px;
            color: #222;
            font-weight: bold;
            font-size: 1.5em;
        }
        p {
            color: rgb(51, 51, 51);
            font-size: 1em;
            font-weight: 400;
            line-height: 2.3em;
            text-align: justify;
        }
    }
    //branch logos section here
    .brands {
        font-family: $FONT;
        background-color: #81D0D7;
        text-align: center;
        .logo-region {
            margin: 0 auto;
            padding: 50px 0 0px;
            .brand-logos {
                .logo {
                    img {
                        width: 100px;
                        height: auto;
                        padding-bottom: 50px;
                    }
                }
            }
        }
    }
}

/*=============================
  HOME PAGE STYLING FOR MOBILE
=============================*/

@media (max-width: 767px) {

    .home-page {
        .kickstarter {
            height: 100%;
            .overlay {
                height: 100%;
            }
            .container {
                padding: 20vh 0 10vh;
                h1 {
                    font-size: 25px;
                }
                h3 {
                    font-size: 16px;
                }
                a {
                    button {
                        height: 30px;
                        font-size: 12px;
                        padding: 5px 20px;
                        margin-top: 0;
                        margin-bottom: 10px;
                        span {
                            padding-right: 5px;
                        }
                    }
                }
                div {
                    div {
                        a {
                            #twitterlogo {
                                height: 20px;
                            }
                            #facebooklogo {
                                height: 20px;
                            }
                        }
                    }
                }
                p {
                    font-size: 12px;
                    letter-spacing: 1.5px;
                    margin: 20px 0;
                    padding: 0;
                }
                .outer {
                    top: 0px;
                    left: -15px;
                    .bouncing {
                        position: absolute;
                        .glyphicon {
                            color: #ffffff;
                            font-size: 30px;
                        }
                    }
                }
            }
        }
        .about-list {
            .aboutlist_container {
                height: 100%;
                padding: 10px 0 20px;
                p {
                    font-size: 12px;
                    line-height: 1.5;
                }
                h4 {
                    font-size: 18px;
                    text-align: center;
                    letter-spacing: 5px;
                    margin-top: 20px;

                }
                img {
                    width: 45px;
                    height: auto;
                    display: block;
                    float: left;
                    margin-right: 10px;
                }
                #topOne {
                    margin-top: 30px;
                }
                #topThree {
                    margin-bottom: 50px;
                }
            }
        }
        //branch logos section here
        .brands {
            .logo-region {
                padding: 15px 0 0;
                .brand-logos {
                    .logo {
                        img {
                            width: 50px;
                            padding-bottom: 15px;
                        }
                    }
                }
            }
        }
    }
}

/*=============================
  CONTACT US - ON EVERY PAGE
=============================*/

.contact {
    font-family: $FONT;
    background-color: #282732;
    .contact-region {
        text-align: center;
        padding: 75px 0;
        .container {
        width: 80%;
            max-width: 1000px;
            margin: 0 auto;
        }
        h1 {
            color: #fff;
            font-size: 2em;
            padding-bottom: 5px;
            font-weight: 400;
        }
        h3 {
            color: #81D0D7;
            font-size: 1.5em;
            font-weight: 300;
            font-family: $FONT;
            line-height: 1.2;
        }
        hr {
            width: 25%;
        }
        p {
            color: #FFF;
            font-size: 1.2em;
            font-family: $FONT;
            letter-spacing: 2px;
        }
        img {
            width: 50px;
            height: auto;
            margin: 10px;
        }
        form {
            padding-top: 20px;
            input {
                border-radius: 0;
                border: none;
            }
            button {
                border-radius: 0;
                border: 2px #41435E solid;
                background-color: #282732;
                color: #81D0D7;
            }
            button:hover {
                background-color: #41435E;
            }
        }
    }
}

/*=============================
        CONTACT US MOBILE
=============================*/

@media (max-width: 767px) {

    .contact {
        .contact-region {
            padding: 50px 0;
            h1 {
                font-size: 30px;
                padding-bottom: 5px;
            }
            h3 {
                font-size: 20px;
                line-height: 1.2;
            }
            p {
                font-size: 12px;;
                letter-spacing: 2px;
            }
            img {
                width: 30px;
            }
            form {
                width: 100%;
                input {
                    width: 100%;
                    margin: 0;
                    height: 30px;
                }
                button {
                    width: 100%;
                }
            }
        }
    }

}

/*=============================
 ABOUT US PAGE STARTS HERE
=============================*/
.story-page {
    font-family: $FONT;
    padding: 2.7% 0;

     .our-model-section {
        padding-top: 30vh;
        background: linear-gradient(#675D83, #463f60);
        height: 100vh;
        .text-wrapper { 
            text-align: center;
            h1 {
                font-size: 50px;
                color: #fff;
            }
            h2 {
                font-weight: 300;
                color: #B2A8BA;
                padding-top: 3em;
                font-size: 22px;
                font-family: $FONT;
                padding-bottom: 10%;
                
            }
        }
        .subsection-buttons {
            h2 {
                text-align: center;
                padding: 20px;
                font-size: 2vmax;
                color: white;
                width: 100%;
                height: 60px;
                border-radius: 0;
                border: none;
            }
            h2:hover {
                background-color: #78b7bb
            }
            a:hover {
                text-decoration: none;
            }

        }
    }

    .timeline-container {
        height: 100%;
        background-color: #81D0D7;
        padding: 20vh 5vw;
        .title-timeline {
            text-align: center;
            h1 {
                font-family: Arial, Helvetica, sans-serif;
                padding-bottom: 10vh;
                font-size: 7vw;
                font-weight: 400;
                color: #fff;
            }
        }
        

        .timeline {
            list-style: none;
            padding: 20px 0 20px;
            position: relative;
            li {
                margin-bottom: 25px;
                position: relative;
                &:before {
                    content: " ";
                    display: table;
                }
                &:after {
                    content: " ";
                    display: table;
                    clear: both;
                }
                .timeline-panel {
                    width: 46%;
                    float: left;
                    background: #fff;
                    border: 1px solid #d4d4d4;
                    padding: 20px;
                    position: relative;
                    border-radius: 8px;
                    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
                    &:before {
                        position: absolute;
                        top: 26px;
                        right: -15px;
                        display: inline-block;
                        border-top: 15px solid transparent;
                        border-left: 15px solid #ccc;
                        border-right: 0 solid #ccc;
                        border-bottom: 15px solid transparent;
                        content: " ";
                    }
                    &:after {
                        position: absolute;
                        top: 27px;
                        right: -14px;
                        display: inline-block;
                        border-top: 14px solid transparent;
                        border-left: 14px solid #fff;
                        border-right: 0 solid #fff;
                        border-bottom: 14px solid transparent;
                        content: " ";
                    }
                    .tl-heading {
                        h4 {
                            text-align: center;
                            margin: 0;
                            padding-bottom: 10px;
                            font-size: 3vw;
                            color: #81D0D7;
                            font-weight: 600;
                        }
                    }
                    .tl-body {
                        p {
                            margin-bottom: 0;
                            text-align: justify;
                            color: #282732;
                        }
                    }
                }
            }
            .tl-circ {
                position: absolute;
                top: 23px;
                left: 50%;
                text-align: center;
                background: #81D0D7;
                color: #eee;
                width: 35px;
                height: 35px;
                line-height: 35px;
                margin-left: -16px;
                border: 5px #eee solid;
                border-radius: 100%;
                z-index: 1;
            }
            .timeline-inverted {
                .timeline-panel {
                    float: right;
                    &:before {
                        border-left-width: 0;
                        border-right-width: 15px;
                        left: -15px;
                        right: auto;
                    }
                    &:after {
                        border-left-width: 0;
                        border-right-width: 14px;
                        left: -14px;
                        right: auto;
                    }
                }
            }
            &:before {
                top: 0;
                bottom: 0;
                position: absolute;
                content: " ";
                width: 5px;
                background-color: #eee;
                left: 50%;
                margin-left: -1.5px;
            }
        }
    }
   
    .meet-the-team {
        background: linear-gradient(#463f60, #282732);
        height: 100%;
        padding-bottom: 15vh;
        h2 {
            color: #DDD;
            font-size: 6vw;
            text-align: center;
            padding-bottom: 5vh;
            padding-top: 15vh;
        }
        .selfie {
            text-align: center;
            img {
                border-radius: 100%;
                width: 75%;
                -webkit-filter: grayscale(40%);
                transition: all 1s ease-in-out;
            }
            img:hover {
                -webkit-filter: grayscale(10%);
            }
            h3 {
                margin-top: 2vh;
                margin-bottom: 5vh;
                color: #fff;
                font-size: 20px;
            }
        }
    }
}

/*==========================
    ABOUT US PAGE MOBILE
===========================*/

@media (max-width: 767px) {

    .story-page {
        .our-model-section {
            background-color: #27285a;
            color: #fff;
            font: $FONT;
            height: 100%;
            padding: 10vh 0 10vh;
            .text-wrapper { 
                h1 {
                    font-size: 8vw;
                    padding: 0vh 0vh 5vh;
                }
                h2 {
                    padding-top: 2em;
                    font-size: 4vw;
                    line-height: 1.5;
                }
            }
            .subsection-buttons {
                h2 {
                    padding: 20px;
                    font-size: 3vmax;
                }               
            }
        }
        .timeline-container {
            padding: 15vh 5vw 15vw 0;
            .title-timeline {
                h1 {
                    font-size: 8vw;
                }
            }
            
            .timeline {
                li {
                    &:before {
                        
                    }
                    &:after {
                    }
                    .timeline-panel {
                        width: calc(100% - 90px);
                        float: right;
                        &:before {
                            border-left-width: 0;
                            border-right-width: 15px;
                            left: -15px;
                            right: auto;
                        }
                        &:after {
                            border-left-width: 0;
                            border-right-width: 14px;
                            left: -14px;
                            right: auto;
                        }
                        .tl-heading {
                            h4 {
                                font-size: 5vw;
                            }
                        }
                        .tl-body {
                            p {
                               font-size: 3.5vw;
                            }
                        }
                    }
                }
                .tl-circ {
                    top: 22px;
                    left: 22px;
                    margin-left: 0;
                }
                .timeline-inverted {
                    .timeline-panel {
                        &:before {
                        }
                        &:after {
                        }
                    }
                }
                &:before {
                    left: 40px;
                }
            }
        }

        
        .meet-the-team {
            background-color: #265b7d;
            height: 100%;
            padding: 0;
            h2 {
                font-size: 8vw;
                padding-bottom: 5vh;
                padding-top: 0;
            }
            .selfie {
            h3 {
                font-size: 12px;
            }
        }
        }
    }
}


/*==========================
  PARTNERS PAGE STARTS HERE
===========================*/

.process-page {
    font-family: $FONT;
    .bounties-section {
        height: 100%;
        background: linear-gradient(#4B4551, #23222F);
        padding: 100px 0;
        .subsection-wrapper {
            text-align: center;
            h1 {
                margin-top: 12vw;
                font-size: 8vw;
                font-weight: 400;
                color: #fff;
                letter-spacing: 10px;
            }
            .subsection-buttons {
                margin: 10% 0;
                #buttons {
                    padding: 20px 50px;
                    h2 {
                        padding: 20px;
                        font-size: 2vmax;
                        color: #90C0CF;
                        width: 100%;
                        height: 60px;
                        border-radius: 0;
                        border: none;
                        span {
                            padding-left: 5%;
                            font-size: 1.5vmax;
                        }
                    }
                    h2:hover {
                        background-color: #22212A; 
                    }
                    a:hover {
                        text-decoration: none;
                    }
                }
            }
        }
        
    }
    #give-projects-section {
        background-color: #fff;
        height: 100%;
        .content-wrapper {
            padding: 15vh 0;
            .image-wrapper {
                text-align: center;
                img {
                    width: 100%;
                }
            }
            .text-wrapper {
                height: 100%;
                padding: 5%;
                text-align: center;

                h2 {
                    margin-bottom: 5vh;
                    color: #81D0D7;
                    font-size: 2.5vw;
                }
                p {
                    font-size: 1.5vw;
                    color: #282732;
                }
            }
        }
    }
    #employ-us-section {
        background-color: #81D0D7;
        height: 100%;
        .content-wrapper {
            padding: 5%;
            .text-wrapper {
                padding: 7% 0;
                text-align: center;
                h1 {
                    font-size: 3vw;
                    color: #fff;
                    letter-spacing: 2px;
                }
                button {
                    color: #81D0D7;
                    border-radius: 0;
                    padding: 10px 40px;
                    h2 {
                        font-size: 2.5vw;
                    }
                }
                h2:hover {
                    text-decoration: none;
                }
                p {
                    font-size: 1.6vw;
                    padding-top: 5%;
                    padding-bottom: 10%;
                    color: #2A546B;
                }
            }
        }
    }
    #learn-with-us-section {
        background-color: #fff;
        .text-wrapper {
            text-align: center;
            h2 {
                padding-top: 25%;
                font-size: 2.2vw;
                color: #81D0D7;
            }
            p {
                font-size: 1.4vw;
                color: #282732;
            }
        }
        .image-wrapper {
            padding: 5% 0;
            img {
                width: 100%;
            }
        }
    }
    .tech-we-love {
        font-family: $FONT;
        background-color: #373249;
        text-align: center;
        .logo-region {
            margin: 0 auto;
            padding: 50px 0 0px;
            .brand-logos {
                .logo {
                    img {
                        width: 100px;
                        height: auto;
                        padding-bottom: 50px;
                    }
                }
            }
        }
    }
}

/*==========================
    PARTNER PAGE MOBILE
===========================*/

@media (max-width: 767px) {

    .process-page {
        .bounties-section {
            .subsection-wrapper {
                h1 {
                    font-size: 35px;
                }
                p {
                    font-size: 4vw;
                }
                .subsection-buttons {
                    margin-top: 10vh;
                    #buttons {
                        padding: 0;
                        h2 {
                            font-size: 3vmax;
                        }
                        button {
                            margin-top: 10px;
                            height: 50px;
                            border: 3px #1F1F24 solid;
                            span {
                                font-size: 2vmax;
                            }
                        }
                    }
                }
            }
            
        }
        #give-projects-section {
            .content-wrapper {
                padding: 10vh 0;
                .text-wrapper {
                    padding: 1%;
                    h2 {
                        margin-bottom: 5vh;
                        font-size: 8vw;
                    }
                    #idea {
                        font-size: 4.5vw;
                    }
                    p {
                        font-size: 3.5vw;
                        padding-bottom: 10px;
                    }
                }
            }
        }
        #employ-us-section {
            .content-wrapper {
                padding: 15% 5%;
                .text-wrapper {
                    padding: 7% 0;
                    text-align: center;
                    h1 {
                        font-size: 8vw;
                        color: #fff;
                        letter-spacing: 2px;
                    }
                    button {
                        padding: 5px 30px;
                        h2 {
                            font-size: 6vw;
                        }
                    }
                    p {
                        margin-top: 20px;
                        font-size: 3.7vw;
                    }
                }
            }
        }
        #learn-with-us-section {
            .text-wrapper {
                h2 {
                    padding-top: 5%;
                    font-size: 7vw;
                }
                p {
                    font-size: 3.7vw;
                    padding-bottom: 20%;
                }
            }
        }
        .tech-we-love {
            .logo-region {
                padding: 15px 0;
                .brand-logos {
                    .logo {
                        img {
                            width: 50px;
                            padding-bottom: 0px;
                        }
                    }
                }
            }
        }
    }
}

/*=============================
    STUDENT PAGE STARTS HERE
=============================*/

.student-page {
    font-family: $FONT;
    .intro {
        height: 100vh;
        background: linear-gradient(#908199, #382842);
        .row {
            padding-top: 30vh;
            text-align: center;
            h1 {
                font-size: 60px;
                font-weight: 400;
                color: #fff;
            }
            h2 {
                font-weight: 300;
                color: #B2A8BA;
                padding-top: 3em;
                font-size: 22px;
                font-family: $FONT;
                padding-bottom: 10%;
            }           
            a:hover {
                text-decoration: none;
            }
            .subsection-buttons {
                h2 {
                    padding: 20px;
                    font-size: 2vmax;
                    font-weight: 400;
                    color: white;
                }
                h2:hover {
                    background-color: #22212A; 
                }
            }
        }
    }
    .about-brief {
        height: 100vh;
        background-color: #fff;
        width: 100%;
        text-align: center;
        .course {
            margin-top: 15vh;
            padding: 0 50px;
            .icon {
                width: 75px;
                margin-bottom: 50px;
            }
            h1 {
                font-size: 2.4vw;
                font-weight: 400;
                color: #81D0D7;
            }
            p {
                margin-top: 5vh;
                font-size: 1.4vw;
                font-weight: 400;
                line-height: 1.3;
                color: #07456B;
                font-family: $FONT;
            }
        }
        .buttons {
            margin-top: 15vh;
            padding: 0 50px;
            #apply-button {
                background-color: #3D8F96;
                color: #fff;
                letter-spacing: 2px;
                font-weight: 400;
            }
            #apply-button:hover {
                background-color: #2A747B;
            }
            #more-info-button {
                color: #51646F;
                border: 3px #7C7C83 solid;
                letter-spacing: 2px;
                font-weight: 400;
            }
            #more-info-button:hover {
                background-color: #D8D6D6;
            }
            button {
                width: 100%;
                height: 60px;
                border-radius: 0;
                border: none;
            }
        }
    }
    .schedule {
        height: 100%;
        background-color: #81D0D7;
        #title {
            margin-top: 50px;
            padding-bottom: 5px;
            color: #fff;
            border-bottom: 3px #3D8F96 solid;
        }
        #accordion {
             margin: 50px 0;
             a:hover {
                text-decoration: none;
             }
            .panel-default {
                border: none;
                border-radius: 0;
                .panel-heading {
                    border-bottom: 2px #5F909E solid;
                    background-color: #A5DEE2;
                    border-radius: 0;
                h4 {
                    color: #3D8F96;
                    font-weight: 400;
                    .description {
                        float: right;
                        color: #27285a;
                    }
                }
            }
            .panel-body {
                border: none;
                background-color: #81D0D7;
                ul {
                    margin-left: 30px;
                    color: #fff;
                    }
                }
            }
        }
        .buttons {
            margin-bottom: 15vh;
            padding: 0 50px;
            #apply-button {
                width: 100%;
                height: 60px;
                border-radius: 0;
                background-color: #3D8F96;
                color: #fff;
                border: none;
            }
            #apply-button:hover {
                background-color: #2A747B;
            }
        }
    }
}

/*=============================
       STUDENT PAGE MOBILE
=============================*/

@media (max-width: 767px) {

    .student-page {
        .intro {
            height: 100%;
            padding: 20vh 0;
            .row {
                padding-top: 0;
                text-align: center;
                h1 {
                    font-size: 8vw;
                }
                h2 {
                    padding-top: 2em;
                    font-size: 4vw;
                    line-height: 1.5;
                }
                .subsection-buttons {
                    h2 {
                        padding: 20px;
                        font-size: 3vmax;
                     }
                    h2:hover {
                        background-color: #22212A; 
                    }
                }
            }
        }
        .about-brief {
            height: 100%;
            padding: 5vh 0;
            .course {
                margin: 5vh 0;
                padding: 0 50px;
                .icon {
                    width: 75px;
                    margin-bottom: 30px;
                }
                h1 {
                    font-size: 8vw;
                }
                p {
                    margin-top: 3vh;
                    font-size: 4vw;
                    line-height: 1.3;
                }
            }
            .buttons {
                margin-top: 5vh;
                padding: 0 50px;
                button {
                    height: 40px;
                    font-size: 10px;
                    margin: 10px 0;
                }
            }
        }
        .schedule {
            #accordion {
                .panel-default {
                    .panel-heading {
                    h4 {
                        font-size: 13px;
                    }
                }
                .panel-body {
                    ul {
                        font-size: 12px;
                        }
                    }
                }
            }
            .buttons {
                margin-bottom: 5vh;
                padding: 0 20px;
                #apply-button {
                    height: 40px;
                    font-size: 10px;
                }
            }
        }
    }
}
