/*==========================
      NAVBAR STYLING
===========================*/

.navbar-default {
    position: fixed;
    width: 100%;
    z-index: 1;
    background: none;
    border: none;
    border-radius: 0;
    font-family: $font-main;
    background-color: #fff;
    .collapsed {
        text-decoration: none;
        padding: 0;
        border: none;
        box-shadow: none;
        .navtoggleimg {
            height: auto;
            width: 40px;
            text-decoration: none;
        }
    }
    .navtoggleimg {
        height: auto;
        width: 30px;
        text-decoration: none;
        padding: 0;
        border: none;
        box-shadow: none;
    }
    .navbar-brand {
        padding: 0px 15px;
        margin-top: 2vh;
        font-size: 20px;
        color: #265b7d;
        height: 100%;
    }
    .navbar-collapse {
        float: right;
        .navbar-li {
            a {
                padding: 0px 15px;
                margin-top: 15px;
                font-size: 16px;
                color: #265b7d;
            }
        }
    }
}

/*==========================
  NAVBAR STYLING FOR MOBILE
===========================*/

@media (max-width: 767px) {

    .navbar-default {
        width: 100%;
        background: none;
        .navbar-brand {
            margin-top: 1.5vh;
            font-size: 18px;
        }
        .navbar-header {
            background-color: #fff;
        }
        .navbar-collapse {
            background-color: $dark-indigo;
            width: 50%;
            float: right;
            .navbar-li {
                a {
                    margin-right: 15px;
                    margin-left: 15px;
                    color: #84C8DB;
                    padding-bottom: 10px;
                    border-bottom: 1px #6F797C solid;
                }
            }
        }
    }
}
