
/*=============================
    STUDENT PAGE STARTS HERE
=============================*/

.student-page {
    font-family: $font-main;
    .intro {
        height: 100vh;
        background: linear-gradient(#908199, #382842);
        .row {
            text-align: center;
            h1 {
		padding: 2em 0 0.2em;
                font-size: 60px;
                font-weight: 400;
                color: #fff;
            }
            h2 {
                font-weight: 300;
                color: #B2A8BA;
                padding: 1em;
                font-size: 22px;
                line-height: 1.6;
                font-family: $font-main;
            }           
	    h3 {
		color: white;
                padding: 1em 0 3em;
	    }
            a:hover {
                text-decoration: none;
            }
	    p {
                color: #B2A8BA;
	    }
	    .taster-buttons {
		padding: 3em 0;
	    }
            button {
                height: 2em;
		width: 12em;
                border: none;
                background: #fa1681;
                color: #ffffff;
                font-size: 1.2em;
            }
            button:hover {
                background: $dark-indigo;
                color: #fff;
            }
            button:active {
                background: $dark-indigo;
                color: #fff;
            }

            .subsection-buttons {
                h2 {
                    padding: 20px;
                    font-size: 2vmax;
                    font-weight: 400;
                    color: white;
                }
                h2:hover {
                    background-color: #22212A; 
                }
                span {
                    padding-left: 5%;
                }
            }
        }
    }
    .about-brief {
        height: 100vh;
        background-color: #fff;
        width: 100%;
        text-align: center;
        .course {
            margin-top: 15vh;
            padding: 0 50px;
            .icon {
                width: 75px;
                margin-bottom: 50px;
            }
            h1 {
                font-size: 2.4vw;
                font-weight: 400;
                color: $turquise;
            }

            .description {
                text-align: justify;
                margin-top: 5vh;
                font-size: 1.4vw;
                font-weight: 400;
                line-height: 1.3;
                color: #07456B;
                font-family: $font-main;
            }
        }
        .buttons {
            margin-top: 15vh;
            padding: 0 50px;
            #apply-button {
                background-color: $dark-turquise;
                color: #fff;
                letter-spacing: 2px;
                font-weight: 400;
            }
            #apply-button:hover {
                background-color: #2A747B;
            }
            #more-info-button {
                color: #51646F;
                border: 3px #7C7C83 solid;
                letter-spacing: 2px;
                font-weight: 400;
            }
            #more-info-button:hover {
                background-color: #D8D6D6;
            }
            button {
                width: 100%;
                height: 60px;
                border-radius: 0;
                border: none;
            }
        }
    }
    .schedule {
        height: 100%;
        background-color: $turquise;
        #title {
            margin-top: 50px;
            padding-bottom: 5px;
            color: #fff;
            border-bottom: 3px $dark-turquise solid;
        }
        #accordion {
             margin: 50px 0;
             a:hover {
                text-decoration: none;
             }
            .panel-default {
                border: none;
                border-radius: 0;
                .panel-heading {
                    border-bottom: 2px #5F909E solid;
                    background-color: #A5DEE2;
                    border-radius: 0;
                h4 {
                    color: $dark-turquise;
                    font-weight: 400;
                    .description {
                        float: right;
                        color: #27285a;
                    }
                }
            }
            .panel-body {
                border: none;
                background-color: $turquise;
                ul {
                    margin-left: 30px;
                    color: #fff;
                    }
                }
            }
        }
        .buttons {
            margin-bottom: 15vh;
            padding: 0 50px;
            #apply-button {
                width: 100%;
                height: 60px;
                border-radius: 0;
                background-color: $dark-turquise;
                color: #fff;
                border: none;
            }
            #apply-button:hover {
                background-color: #2A747B;
            }
        }
    }

    .faq {
        h2 {
            margin: 2em 0 1em;
            padding-bottom: 5px;
            border-bottom: 3px $dark-turquise solid;
        }
    }

}

/*=============================
       STUDENT PAGE MOBILE
=============================*/

@media (max-width: 767px) {

    .student-page {
        .intro {
            height: 100%;
            padding: 20vh 0;
            .row {
                padding-top: 0;
                text-align: center;
                h1 {
                    font-size: 8vw;
                    // padding: 0vh 0vh 5vh;
                }
                h2 {
                    padding-top: 2em;
                    font-size: 4vw;
                    line-height: 1.5;
                }
                .subsection-buttons {
                    #buttons {
                        padding: 0;
                        border: 1px #81d0d7 solid;
                        margin: 5px;
                        h2 {
                            font-size: 3vmax;
                        }
                    }
                }
            }
        }
        .about-brief {
            height: 100%;
            padding: 5vh 0;
            .course {
                margin: 5vh 0;
                padding: 0 50px;
                .icon {
                    width: 75px;
                    margin-bottom: 30px;
                }
                h1 {
                    font-size: 8vw;
                }
                .description {
                    margin-top: 3vh;
                    font-size: 4vw;
                    line-height: 1.3;
                }
            }
            .buttons {
                margin-top: 5vh;
                padding: 0 50px;
                button {
                    height: 40px;
                    font-size: 10px;
                    margin: 10px 0;
                }
            }
        }
        .schedule {
            #accordion {
                .panel-default {
                    .panel-heading {
                    h4 {
                        font-size: 13px;
                    }
                }
                .panel-body {
                    ul {
                        font-size: 12px;
                        }
                    }
                }
            }
            .buttons {
                margin-bottom: 5vh;
                padding: 0 20px;
                #apply-button {
                    height: 40px;
                    font-size: 10px;
                }
            }
        }
    }
}
